/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2D2D2D;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}
header {
    padding: 20px;
    border-bottom: 3px solid #5A0770;
}
.title {
    display: flex;
    align-items: center;
    gap: 15px;
}
.title img {
    width: 60px;
    border-radius: 50%;
}
nav {
    background-color: #1A1A1A;
    padding: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
nav a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 10%;
}
nav a:hover {
        color: #5A0770;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #5A0770;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}

/* tablet and desktop media query */
@media screen and (min-width: 550px), print{
    nav ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }
}
